# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Arduino
*.hex
*.elf
*.o
*.a

# Node.js
node_modules/
package-lock.json

# Firebase
serviceAccountKey.json
